.Playlist {
	display: flex;
	color: #b3b3b3;
	font-size: 14px;
	line-height: 32px;
	padding: 0 24px;
	margin: 5px 0px;
}

.Playlist-name {
	overflow: hidden;
	white-space: nowrap; /* Don't forget this one */
	text-overflow: ellipsis;
}

.Playlist:hover {
	cursor: pointer;
	color: rgb(252, 252, 252);
}

.disabled {
	border-left: 6px solid rgb(37, 211, 78);
}
